In [1]:
import sys

sys.path.append('../..')

In [2]:
import pandas as pd


feature = pd.read_csv('../../dataset/x_feature/방열 재료 n 무게.csv')
feature

        X_03  X_10  X_11
0      67.47   0.0   0.0
1      65.17   0.0   0.0
2      64.07   0.0   0.0
3      67.57   0.0   0.0
4      63.57   0.0   0.0
...      ...   ...   ...
39602  62.27   0.0   0.0
39603  62.77   0.0   0.0
39604  64.67   0.0   0.0
39605  63.67   0.0   0.0
39606  65.67   0.0   0.0

[39607 rows x 3 columns]

In [3]:
def missing_rate(column):
    n = len(column)
    miss = n - column.count()
    return round(miss / n * 100, 2)

feature = feature.replace(to_replace=0, value=None)

print(f"X_03: {missing_rate(feature['X_03'])}(%)")
print(f"X_10: {missing_rate(feature['X_10'])}(%)")
print(f"X_11: {missing_rate(feature['X_11'])}(%)")

X_03: 0.0(%)
X_10: 99.92(%)
X_11: 99.93(%)

# Result
Delete `X_10`, `X_11`.